.header {
  margin-top: 24px;
  margin-bottom: 32px;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  letter-spacing: -0.025em;
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.1;
  padding-bottom: 3px;
}

.subtitle {
  color: #64748b;
  font-size: 12px;
}

.headerActions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.submitBtn {
  color: #fff;
  cursor: pointer;
  background-color: #2b5bee;
  border: none;
  border-radius: 8px;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  font-weight: 700;
  transition:
    filter 0.3s,
    box-shadow 0.3s;
  display: flex;
  box-shadow: 0 4px 14px #2b5bee63;
}

.submitBtn:hover:not(:disabled) {
  filter: brightness(1.1);
  box-shadow: 0 6px 20px #2b5bee80;
}

.submitBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.cancelBtn {
  background: transparent;
  color: #94a3b8;
  border: 1px solid #334155;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cancelBtn:hover {
  color: #ffffff;
  border-color: #475569;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: none;
}

.contentBody {
  display: flex;
  gap: 32px; /* Расстояние между галереей и формой */
  align-items: flex-start;
}

/* Левая колонка (Галерея) */
.leftColumn {
  flex: 0 0 300px; /* Фиксированная ширина галереи 300px */
  position: sticky; /* Чтобы галерея не улетала при скролле формы */
  top: 24px;
}

/* Правая колонка (Форма) */
.rightColumn {
  flex: 1; /* Занимает всё оставшееся пространство */
  min-width: 0; /* Важно для корректной работы flex внутри */
}

@media (max-width: 1024px) {
  .contentBody {
    flex-direction: column;
  }

  .leftColumn {
    flex: 1 1 auto;
    width: 100%;
    position: static;
  }
}
