.journeyContainer {
  position: relative;
  padding: 40px 0 20px;
  width: 100%;
}

.lineTrack {
  position: absolute;
  top: 56px; /* Выравнивание по центру нод */
  left: 50px; /* Отступ чтобы линия не торчала слева */
  right: 50px;
  height: 2px;
  background: #1e293b; /* Цвет вашей --card-border */
  z-index: 0;
}

.lineProgress {
  height: 100%;
  background: #2b5bee;
  transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.steps {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.node {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #161b2e;
  border: 2px solid #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #334155;
}

/* Выполнено */
.completed .node {
  background: #2b5bee; /* --primary */
  border-color: #2b5bee;
  color: white;
}

/* Текущий статус */
.current .node {
  background: #2b5bee;
  border-color: #2b5bee;
  color: white;
  box-shadow: 0 0 15px rgba(43, 91, 238, 0.4);
  animation: pulse 2s infinite;
}

.current .label {
  color: #2b5bee;
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  min-height: 40px;
}

/* Тексты */
.label {
  font-size: 14px;
  font-weight: 600;
  color: #f8fafc; /* --text-main */
  margin-bottom: 4px;
}

.dateText {
  font-size: 12px;
  color: #94a3b8; /* --text-muted */
}

.activeText {
  color: #2b5bee;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.cancelled .node {
  background-color: #fca5a5;
  border-color: #dc262614;
  color: white;
  box-shadow: 0 0 10px rgba(239, 68, 68, 0.3); /* Легкое свечение для акцента */
}

.cancelled .label {
  color: #fca5a5;
  font-weight: 700;
}

/* Анимации */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(43, 91, 238, 0.6);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(43, 91, 238, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(43, 91, 238, 0);
  }
}

.spin {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 480px) {
  .journeyContainer {
    /* padding: 20px 0 10px; */
  }

  .steps {
    gap: 10px;
  }

  .label {
    font-size: 11px;
  }

  .dateText {
    font-size: 10px;
  }
}
