@import "./reset.css";
@import "./variables.css";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-nunito), system-ui, sans-serif;
}

.app-layout {
  display: flex;
  flex: 1;
  align-items: flex-start;
}

.main-content {
  flex: 1;
  background-color: #f3f3f3;
  /* padding: var(--default-padding); */
  margin-left: var(--sidebar-width);
  min-height: 100%;
}

@media (max-width: 1024px) {
  .main-content {
    margin-left: 72px;
  }
}

@media (max-width: 480px) {
  .main-content {
    padding: 0;
  }
}
