@import "./reset.css";
@import "./variables.css";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-nunito), system-ui, sans-serif;
}

.app-layout {
  display: flex;
  flex: 1;
  align-items: flex-start;
}

.main-content {
  flex: 1;
  background-color: #f3f3f3;
  /* padding: var(--default-padding); */
  margin-left: var(--sidebar-width);
  min-height: 100%;
}

@media (max-width: 1024px) {
  .main-content {
    margin-left: 72px;
  }
}

@media (max-width: 480px) {
  .main-content {
    padding: 0;

    margin: 0;
  }
}

/* Стили для мобильных устройств */
@media (max-width: 600px) {
  /* Обращаемся к контейнеру тоастера */
  [data-sonner-toaster] {
    /* Делаем так, чтобы на мобилке тоаст был по центру сверху */
    justify-content: center !important;
  }

  /* Стили самого тоаста */
  [data-sonner-toast] {
    --toast-width: 320px; /* Фиксируем ширину, чтобы не был на весь экран */
    font-size: 14px; /* Уменьшаем шрифт */
    padding: 10px 12px; /* Уменьшаем внутренние отступы */
    margin: 0 auto; /* Центрируем */
  }

  /* Уменьшаем иконку (Success, Error и т.д.) */
  [data-sonner-toast] [data-icon] {
    width: 16px;
    height: 16px;
  }
}
