@import "./reset.css";
@import "./variables.css";

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  margin: 0;
  font-family: var(--font-nunito), system-ui, sans-serif;
  overflow-x: hidden;
}

body.menu-open .tabBar {
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.app-layout {
  display: flex;
  flex: 1;
  align-items: flex-start;
  background-color: #f1f5f9;
}

.main-content {
  flex: 1;
  margin-left: var(--sidebar-width);
  min-height: 100%;
  min-width: 0;
}

@media (max-width: 1150px) {
  .main-content {
    margin-left: 72px;
  }
}

@media (max-width: 480px) {
  .main-content {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .hideOnMobile {
    display: none;
  }
}

/* Стили для мобильных устройств */
@media (max-width: 600px) {
  /* Обращаемся к контейнеру тоастера */
  [data-sonner-toaster] {
    /* Делаем так, чтобы на мобилке тоаст был по центру сверху */
    justify-content: center !important;
  }

  /* Стили самого тоаста */
  [data-sonner-toast] {
    --toast-width: 320px; /* Фиксируем ширину, чтобы не был на весь экран */
    font-size: 14px; /* Уменьшаем шрифт */
    padding: 10px 12px; /* Уменьшаем внутренние отступы */
    margin: 0 auto; /* Центрируем */
  }

  /* Уменьшаем иконку (Success, Error и т.д.) */
  [data-sonner-toast] [data-icon] {
    width: 16px;
    height: 16px;
  }
}
