@import "./reset.css";
@import "./variables.css";

:root {
  --secondary: #2b5bee;
  --primary: #5048e5;
  --bg-app: #f5f7f8;
  --bg-header: rgba(245, 247, 248, 0.8);
  --bg-sidebar: #ffffff;
  --nav-hover-bg: #f1f5f9;
  --nav-active-bg: #eff6ff;
  --nav-active-text: #2563eb;
  --filter-hover-bg: rgba(0, 0, 0, 0.05);
  --card-color: #ffffff;
  --card-hover-bg: #ffffff;
  --card-hover-shadow: rgba(0, 0, 0, 0.08);
  --table-thead: rgba(0, 0, 0, 0.03);
  --table-shadow:
    0 10px 25px -5px rgba(0, 0, 0, 0.04), 0 8px 10px -6px rgba(0, 0, 0, 0.02),
    0 0 1px 0 rgba(0, 0, 0, 0.1);
  --kpi-shadow:
    0 4px 6px -1px rgba(43, 91, 238, 0.05),
    0 2px 4px -2px rgba(43, 91, 238, 0.05);
  --kpi-shadow-hover: 0 20px 25px -5px rgba(43, 91, 238, 0.25);
  --surface: #ffffff;
  --border: #cbd5e1;
  --text-main: #1a1a1c;
  --text-secondary: #475569;
  --text-muted: #64748b;
  --backdrop-color: rgba(15, 23, 42, 0.5);
  --backdrop-blur: 4px;
  /* --price-color: #10b981; */
  --price-color: var(--primary);
  --sidebar-width: 220px;
}

.dark {
  --bg-app: #0a0a0c;
  --bg-header: rgba(16, 21, 34, 0.8);
  --bg-sidebar: #0b0f1a;
  --nav-hover-bg: #1f2937;
  --nav-active-bg: #161e2d;
  --nav-active-text: #3b82f6;
  --filter-hover-bg: rgba(255, 255, 255, 0.05);
  --card-color: #161b2c;
  --card-hover-bg: #1e2943;
  --card-hover-shadow: rgba(0, 0, 0, 0.4);
  --table-thead: #111827;
  --table-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.4), 0 10px 10px -5px rgba(0, 0, 0, 0.3);
  --kpi-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);
  --kpi-shadow-hover: 0 20px 25px -5px rgba(43, 91, 238, 0.25);
  --surface: #161b2c;
  --border: #232c48;
  --text-main: #ffffff;
  --text-secondary: #94a3b8;
  --backdrop-color: rgba(2, 6, 17, 0.85);
  --backdrop-blur: 8px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  margin: 0;
  font-family: var(--font-geist-sans), sans-serif;
  overflow-x: hidden;
  background-color: var(--bg-app);
  color: var(--text-main);
}

body.menu-open .tabBar {
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.app-layout {
  display: flex;
  flex: 1;
  width: 100%;
}

.main-content {
  flex: 1;
  margin-left: var(--sidebar-width);
  min-height: 100%;
  min-width: 0;
  width: 100%;
}

@media (max-width: 1150px) {
  .main-content {
    margin-left: 72px;
  }
}

@media (max-width: 480px) {
  .main-content {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .hideOnMobile {
    display: none;
  }
}

@media (max-width: 600px) {
  [data-sonner-toaster] {
    justify-content: center !important;
  }

  /* Стили самого тоаста */
  [data-sonner-toast] {
    --toast-width: 320px;
    font-size: 14px;
    padding: 10px 12px;
    margin: 0 auto;
  }

  [data-sonner-toast] [data-icon] {
    width: 16px;
    height: 16px;
  }
}
