:root {
  /* Цвета  */
  --header-background: #0aa89e;
  --color-white: #ffffff;
  --color-black: #202020;
  --btn-color-primary: rgb(249, 156, 69);
  --btn-primary-hover: rgb(255, 124, 2);
  --sidebar-background: #2f4050;
  --sidebar-background-color: #263340;
  --color-neutral: #bfbfbf;
  --color-grey: #eae8e8;
  --input-border-focus: #3b82f6;
  --btn-hover-color: #08867e;
  --btn-text-color-active: #0aa89e;
  --btn-border-color: #0aa89e;

  /* Отступы */
  --main-padding: 30px 14px;
  --default-padding: 14px;
  --button-padding: 5px 24px;
  --input-padding: 10px 14px;

  /* Размеры */
  --sidebar-width: 220px;

  /* Бордер */
  --input-border: 1px solid #e6e6e6;

  /*Бордер - радиус */
  --default-radius: 20px;

  /* Тени */
  --default-box-shadow: 0px 2px 5px 2px rgba(0 0 0 / 4%);
}
