.searchInput {
  width: 100%;
  margin-top: 0;
  height: 44px;
  padding: 0 16px 0 40px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  font-size: 14px;
  background-color: #ffffff;
  color: #111827;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;

  &::placeholder {
    color: #9ca3af;
  }

  &:focus {
    outline: none;
    border-color: #2563eb;
    background-color: #fff;

    box-shadow: 0 0 0 4px rgba(37, 99, 235, 0.1);
  }

  &:hover {
    border-color: #d1d5db;
  }
}

.searchWrapper {
  position: relative; /* Чтобы позиционировать иконку внутри */
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  left: 12px;
  color: #94a3b8;
  pointer-events: none; /* Чтобы иконка не мешала клику по инпуту */
}

@media (max-width: 480px) {
  .searchInput {
    font-size: 16px;
    padding: 0 12px 0 30px;
    max-width: 79%;
  }
  .searchIcon {
    width: 12px;
  }
}
