/* .clientForm {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & h3 {
    padding-bottom: 5px;
    color: #606060;
    font-weight: 700;
    border-bottom: var(--input-border);
  }
}

.nameInfo {
  display: flex;
  gap: 14px;
  justify-content: space-between;
}



.input {
  width: 100%;
  box-sizing: border-box;

  padding: var(--input-padding);
  border: var(--input-border);
  border-radius: var(--default-radius);
  font-size: 14px;
  transition: all 0.2s;

  &:focus {
    outline: none;
    border-color: var(--input-border-focus);
    box-shadow: var(--default-box-shadow);
  }
}

.pasportInfo {
  display: flex;
  gap: 14px;
  justify-content: space-between;
}

.saveBtn {
  padding: var(--button-padding);
  background-color: var(--header-background);
  color: var(--color-white);
  border: 1px solid var(--btn-border-color);
  border-radius: var(--default-radius);
  font-size: 16px;
  transition:
    background-color 0.3s ease,
    transform 0.1s ease;
  box-shadow: var(--default-box-shadow);

  &:hover {
    background-color: var(--btn-hover-color);
  }

  &:active {
    background-color: var(--color-white);
    color: var(--btn-text-color-active);
    border-color: var(--btn-hover-color);
    transform: scale(0.97);
  }
} */
/* AddClientForm.module.css */
.clientForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.clientForm h3 {
  padding-bottom: 5px;
  color: #606060;
  font-weight: 700;
  border-bottom: var(--input-border);
}

.nameInfo,
.pasportInfo {
  display: flex;
  gap: 14px;
  justify-content: space-between;
}

/* Этот класс теперь будем явно вешать на инпуты */
.input {
  width: 100%;
  box-sizing: border-box;
  padding: var(--input-padding);
  border: var(--input-border);
  border-radius: var(--default-radius);
  font-size: 14px;
  transition: all 0.2s;
}

.input:focus {
  outline: none;
  border-color: var(--input-border-focus);
  box-shadow: var(--default-box-shadow);
}

/* Если инпут внутри Flex-контейнера должен растягиваться */
.flexItem {
  flex: 1;
}

.saveBtn {
  /* Твои стили кнопки без изменений */
  padding: var(--button-padding);
  background-color: var(--header-background);
  color: var(--color-white);
  border: 1px solid var(--btn-border-color);
  border-radius: var(--default-radius);
  cursor: pointer;
}
