.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 16px 16px 16px 32px;
  background-color: #161e2e;
  border-bottom: 1px solid var(--border-dark);
}

.left {
  max-width: 448px;
  width: 100%;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
}

@media (max-width: 1150px) {
  .toolbar {
    margin-bottom: 16px;
  }
}

@media (max-width: 780px) {
  .toolbar {
    padding: 8px;
  }
}
