.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 16px 16px 16px 32px;
  font-family: var(--font-geist-mono);
  background-color: var(--surface);
  border-radius: 8px;
  border: 1px solid var(--border);
  margin-bottom: 8px;
  box-shadow:
    0 0 1px rgba(0, 0, 0, 0.1),
    0 0 20px rgba(0, 0, 0, 0.05),
    0 0 5px rgba(0, 0, 0, 0.05);
}

.left {
  max-width: 448px;
  width: 100%;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
}

@media (max-width: 1150px) {
  .toolbar {
    margin-bottom: 16px;
  }
}

@media (max-width: 780px) {
  .toolbar {
    padding: 8px;
  }
}
