.aside {
  width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  background-color: #0b0f1a;
  border-right: 1px solid #1e293b;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  box-shadow: inset -1px 0 0 0 rgba(255, 255, 255, 0.05);
}

/* Настройка скроллбара внутри сайдбара (сделаем его аккуратным) */
.aside::-webkit-scrollbar {
  width: 4px;
}
.aside::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.logo {
  padding: 0 15px;
  height: 57px;
}

.asideNavList {
  display: flex;
  flex-direction: column;
  gap: 2px; /* Более плотное расположение как на фото */
  list-style: none;
  padding: 0; /* Убираем падинг, чтобы активная полоска прилегала к краю */
}

.asideNavList li {
  position: relative;
  transition: all 0.2s ease;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 24px; /* Увеличили боковой отступ */
  color: #94a3b8; /* Приглушенный текст */
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s;
}

.asideNavList li:hover .navLink {
  color: #f8fafc;
  background-color: #161e2d; /* Тонкий намек на синий в фоне */
}

.asideNavList li:hover:not(.active) {
  background-color: #1f2937;
  color: var(--color-white);
}

.asideNavList li.active {
  background-color: #161e2d; /* Фон как у ховера или чуть темнее */
}

.asideNavList li.active .navLink {
  color: #3b82f6; /* Текст становится синим */
}

.asideNavList li.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #2563eb;
  box-shadow: 0 0 10px rgba(37, 99, 235, 0.5); /* Легкое свечение */
}

@media (max-width: 1150px) {
  .aside {
    width: 72px; /* Ширина только для иконок + отступы */
    padding: 20px 8px;
  }

  .asideNavList li {
    margin: 4px 0;
  }

  .asideNavList li.active::before {
    display: none;
  }

  .active .navLink {
    color: #2563eb;
  }

  .navLink {
    justify-content: center; /* Центрируем иконку */
    padding: 12px 0;
    gap: 0;
  }

  /* Скрываем текст */
  .navLink span {
    display: none;
  }
}

@media (max-width: 480px) {
  .aside {
    display: none; /* Полностью убираем сайдбар с экрана */
  }
}
