.pageWrapper {
  width: 100%;
  padding: var(--main-padding);

  background-color: var(--color-white);
  color: var(--color-black);

  border-radius: var(--default-radius);
  box-shadow: var(--default-box-shadow);
}
