.pageWrapper {
  width: 100%;
  padding: var(--main-padding);
  background-color: #f1f5f9;
  color: var(--color-black);
  min-height: 100vh;
}

@media (max-width: 480px) {
  .pageWrapper {
    padding: 8px;
  }
}
