.pageWrapper {
  width: 100%;
  margin-inline: auto;
  max-width: 1432px;
  padding: 8px 16px;
  color: var(--color-black);
}

@media (max-width: 480px) {
  .pageWrapper {
    padding: 8px 12px;
  }
}
