/* .addInventoryForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 800px;
  margin: 0 auto;

  & h1 {
    padding-bottom: 5px;
    margin-bottom: var(--default-padding);
    border-bottom: var(--input-border);
    font-size: 24px;
    font-weight: 700;
  }
}

.input {
  padding: var(--input-padding);
  border: var(--input-border);
  border-radius: var(--default-radius);
  font-size: 14px;
  transition: all 0.2s;

  &:focus {
    outline: none;
    border-color: var(--input-border-focus);
    box-shadow: var(--default-box-shadow);
  }
}

.input.error {
  border-color: #ef4444;

  &:focus {
    box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.1);
  }
} */

/* .row {
  display: flex;
  justify-content: space-between;
} */

/* .textarea {
  padding: var(--input-padding);
  border: var(--input-border);

  border-radius: var(--default-radius);
  font-size: 14px;
  font-family: inherit;
  min-height: 100px;

  &:focus {
    outline: none;
    border-color: var(--input-border-focus);
    box-shadow: var(--default-box-shadow);
  }
} */

/* .saveInventoryBtn {
  padding: var(--button-padding);

  background-color: var(--header-background);
  color: var(--color-white);

  border-radius: var(--default-radius);

  font-size: 16px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--btn-hover-color);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
} */
