.errorState {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-top: 30px;

  & p {
    color: red;
  }

  & button {
    padding: var(--button-padding);

    background-color: var(--btn-color-primary);
    border-radius: var(--default-radius);

    font-size: 14px;
    color: white;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--btn-primary-hover);
    }
  }
}

.loadingState {
  margin-inline: auto;
  margin-top: 30px;

  & p {
    text-align: center;
  }
}
